<!-- views/app.ejs -->
<html>
  <meta charset="utf-8" />
  <head>
    <link rel="stylesheet" type="text/css" href="game.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="reversi_gameplay.js"></script>
    <script>
      gameState = {board: initBoard, player: -1};

      window.addEventListener('load', function(){
        let button = document.getElementById('myButton');
        let msg = document.getElementById('messages');
        let match = document.getElementById('match');
        button.disabled = false;
        msg.innerHTML = "Twój ruch<br>";
        var socket = io();
        
        socket.on('defense', function(arg){
          if(button.disabled){
            button.disabled = false; 
            gameState = arg
            match.innerHTML = `<%= context.attacker %> vs ${arg.defender}`;
            msg.innerHTML = "Twój ruch<br>";
          }
        })

        button.addEventListener('click', function(){
          socket.emit('attack', {board: gameState.board, player: (-1)*gameState.player});
          button.disabled = true; 
          msg.innerHTML = "Ruch przeciwnika<br>";
          
        })
        
        socket.emit('joinn', {id:'<%= context.id %>'});
      })
    </script>
  </head>
  <body>
    <p>
      ID twojego pokoju <%= context.id %>
    </p>
    <p>
      <div id='match'></div>
    </p>
    <p>
      <div id='messages'></div>
    </p>
    <p>
      <!-- <form action="/attack", method="POST">-->
        <canvas id="canvasBoard" width="480px" height="480px"></canvas>
      <!--</form>-->
    </p>
    <button id="myButton">Wykonaj</button>
  </body>
</html>
