<!-- views/app.ejs -->
<html>
  <meta charset="utf-8" />
  <head>
    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>
  <p>
    ID twojego pokoju <%= context.id %>
  </p>
  <p>
    Twój ruch<br>
  </p>
  <p> 
    <form action="/attack", method="POST">
      Plansza XD
      
      <button>Wykonaj</button>
    </form>
  </p>
  </body>
</html>
