<!-- views/app.ejs -->
<html>
  <meta charset="utf-8" />
  <head>
    <link rel="stylesheet" type="text/css" href="game.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="reversi_gameplay.js"></script>
    <script>
      gameState = {board: initBoard, player: 1};

      window.addEventListener('load', function(){
        const button = document.getElementById('myButton');
        const msg = document.getElementById('messages');
        let score = document.getElementById('score');
        button.disabled = true;
        msg.innerHTML = "Ruch przeciwnika<br>";
        var socket = io();
        
        socket.on('attack', function(arg){
          if(button.disabled){
            button.disabled = false; 
            console.log(arg)
            console.log(gameState)
            gameState = arg
            whiteCount = gameState.board.flat().filter(el => el==-1).length
            blackCount = gameState.board.flat().filter(el => el==1).length
            score.innerHTML = `białe: ${whiteCount} czarne: ${blackCount}`;
            msg.innerHTML = "Twój ruch (czarne)<br>";
            drawBoard();
          }
        })

        button.addEventListener('click', function(){
          socket.emit('defense', {board: gameState.board, player: (-1)*gameState.player});
          button.disabled = true; 
          whiteCount = gameState.board.flat().filter(el => el==-1).length
          blackCount = gameState.board.flat().filter(el => el==1).length
          score.innerHTML = `białe: ${whiteCount} czarne: ${blackCount}`;
          msg.innerHTML = "Ruch przeciwnika<br>";
          
        })
        whiteCount = gameState.board.flat().filter(el => el==-1).length
        blackCount = gameState.board.flat().filter(el => el==1).length
        score.innerHTML = `białe: ${whiteCount} czarne: ${blackCount}`;
        socket.emit('joinn', {id:'<%= context.id %>'});
      })
    </script>
  </head>
  <body>
    <p>
      ID twojego pokoju <%= context.id %>

    </p>
    <p><%= context.defender %> vs <%= context.attacker %></p>
    <p>
      <div id='messages'></div>
    </p>
    <p> 
      <!-- <form action="/attack", method="POST">-->
        <canvas id="canvasBoard" width="480px" height="480px"></canvas>
      <!--</form>-->
    </p>
    <button id="myButton">Wykonaj</button>
    <p>
      <div id='score'></div>
    </p>
  </body>
</html>
