<!-- views/app.ejs -->
<html>
  <meta charset="utf-8" />
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
  <b>ReverSI</b>
  <p>
    <form action="/new", method="GET">
      <button>Nowy pokój</button>
    </form>
  </p>
  <p>
    <form action="/join", method="POST">
    <input id="identifier" type="number" name="identifier" value="<%= context.id%>">
      <button>Dołącz</button>
    </form>
  </p>
  <p> 
    <form action="/random", method="GET">
      <button>Losowy pokój</button>
    </form>
  </p>
  <p> 
    <form action="/select", method="GET">
      <button>Lista pokoi</button>
    </form>
  </p>
  </body>
</html>
