<!-- views/app.ejs -->
<html>
  <meta charset="utf-8" />
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="new.css" />
  </head>
  <body>
  <p>
    Podaj hasło do istniejącego pokoju<br>
  </p>
  <p> 
    <form action="/joinwithpasswd", method="POST">
      
      <label for="password">Hasło</label>
      <input id="password" type="text" name="password" value="<%= context.password%>">
      


      <button>Dołącz</button>
    </form>
  </p>
  </body>
</html>
