body {
    background-color: #bfd7ca;
    font-family: "Courier New", serif;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}

button, textarea {
    font-family: "Courier New", serif;
}

html {
    display: table;
    margin: auto;
}